@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-bg: #f16718;
    --text-color-bg: #162542;
    --text-color-bg-second: #7b8bad;
    --body-bg: #ffffff;
    --font: "Barlow", system-ui;
}

@mixin flexbox($JustifyProd, $AlignProd) {
    display: flex;
    justify-content: $JustifyProd;
    align-items: $AlignProd;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    height: 100%;
}

header {
    padding: 55px 0px 0px 0px;
    .container {
        max-width: 1110px;
        margin: 0 auto;
        nav {
            @include flexbox(space-between, center);
            .nav-btn {
                padding: 16px 27px 16px 26px;
                background-color: #e8eff2;
                border: none;
                border-radius: 8px;
                color: var(--text-color-bg);
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: inherit;
            }
        }
    }
}

.home {
    background-image: url("/src/images/img/container.png");
    background-repeat: no-repeat;
    background-position: right 25%;
    padding: 83px 0px 0px 0px;
    .container {
        max-width: 1110px;
        margin: 0 auto;
        @include flexbox(space-between, center);
        .home-content {
            h2 {
                font-size: 56px;
                font-weight: 900;
                color: var(--text-color-bg);
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            p {
                color: var(--text-color-bg-second);
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                margin-bottom: 40px;
            }
            .home-content-btn {
                display: flex;
                gap: 40px;
                align-items: center;
                .btn {
                    padding: 16px 27px 16px 26px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: inherit;
                    border: none;
                    border-radius: 8px;
                    background-color: var(--btn-bg);
                }
                p {
                    color: var(--text-color-bg-second);
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.about {
    padding: 30px 0px 0px 0px;
    background-image: url("/src/images/img/container-2.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    .container {
        max-width: 1110px;
        margin: 0 auto;
        @include flexbox(space-between, center);
        gap: 125px;
        .img {
            display: flex;
            gap: 30px;
        }
        .about-content {
            h2 {
                font-size: 32px;
                font-weight: 900;
                color: var(--text-color-bg);
                margin-bottom: 27px;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                font-weight: 500;
                color: var(--text-color-bg-second);
                line-height: 26px;
            }
        }
    }
}

.cbbm-section {
    padding: 168px 0px 128px 0px;
    .container {
        max-width: 1110px;
        margin: 0 auto;
        @include flexbox(space-between, center);
        gap: 30px;
        .card {
            img {
                margin-bottom: 48px;
            }
            h3 {
                font-size: 24px;
                font-weight: 900;
                color: var(--text-color-bg);
                margin-bottom: 24px;
            }
            p {
                font-size: 16px;
                font-weight: 500;
                color: var(--text-color-bg-second);
                line-height: 26px;
            }
        }
    }
}